# ~/.local/share/systemd/user

[Unit]
Description=samsGrive timer

[Timer]
OnStartupSec=1
Persistent=1
OnCalendar=7:00
OnCalendar=12:00
OnCalendar=19:00

[Install]
WantedBy=timers.target
